@charset "utf-8";

/* Author: Zs0u */
*{ font-family: "microsoft yahei",Arial,Helvetica,sans-serif; font-weight: normal; font-style: normal;}

#panel-QR{ width:294px; height:397px; position:fixed; left:50%; top:50%; margin-left:-128px; margin-top:-189px; z-index:100; background:url(http://i3.itc.cn/20110728/38e_7bb627d7_6b50_ce6b_4ef7_cdcc6574abbc_1.jpg) left top no-repeat; display:none;}
*html #panel-QR { position:absolute; margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
#panel-QR h2{ width:254px; height:36px; display:block; text-indent:-9999em; background:none;}
#panel-QR .qr-iframe{ text-align:center;}
#panel-QR .qr-download{ width:227px; height:75px; margin:5px auto; display:block; text-indent:-9999em;}
#panel-QR .qr-close { width:30px; height:30px; display:block; position: absolute; right:0px; top:0px; z-index:100; text-indent:-9999em; cursor:pointer;}


/*#popout-QR{ width:295px; height:450px; overflow: hidden; position:fixed; right:0px; top:50%; margin-top:-225px; z-index:10; background:#f7e8ec; display:none;}*/
#popout-QR{ width:295px; height:530px; overflow: hidden; position:fixed; right:0px; top:50%; margin-top:-265px; z-index:10; background:#f7e8ec; display:none;}

*html #popout-QR { position:absolute; margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');}
.float_title{ background: url(../images/float_title.jpg) left top no-repeat; width: 225px; height: 50px; line-height: 50px; color: #fff; font-size: 24px; display: block; padding-left:70px;}
#popout-QR .qr-iframe{}
#popout-QR .qr-download{ width:235px; height:62px; margin:5px 41px 13px auto; display:block; text-indent:-9999em;}
#popout-QR .qr-close{ width: 28px; height: 28px; line-height: 28px; text-align: center; display: block; color: #fff; font-family: tahoma; position: absolute; right: 10px; top: 10px; cursor: pointer; border: 1px solid #fff;}

/*#popout-QR-default{ width:25px; padding: 150px 10px 0 10px; line-height: 20px; text-align: center; height:298px; position:fixed; right:0; top:50%; margin-top:-224px; z-index:11; cursor:pointer; display:none; font-size: 18px; color: #fff;}*/
#popout-QR-default{ width:25px; padding: 180px 10px 0 10px; line-height: 20px; text-align: center; height:350px; position:fixed; right:0; top:50%; margin-top:-265px; z-index:11; cursor:pointer; display:none; font-size: 18px; color: #fff;}

.float_N{ background:url(../images/mini_n.png) left top no-repeat;}
.float_S{ background:url(../images/mini_s.png) left top no-repeat;}
.float_H{ background:url(../images/mini_h.png) left top no-repeat;}
.float_X{ background:url(../images/mini_x.png) left top no-repeat;}

#popout-QR-default strong{ margin: 10px 0; display: block;}
*html #popout-QR-default{position:absolute; margin-top:expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) - 60 + 'px');}
